@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,600&display=swap');
/*:root{
    --cor0: #547A5B;
}

variaveis
*/
body{
    background-color: #547A5B;
    font-family: Josefin Sans;
    padding: 0px;
}
strong{
    color: #4EC762;
}

header{
    background-image:linear-gradient(to bottom,#ADFBBA,#4EC762,#307A3C);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
h1{
    color: white;
    text-align: center;
    font-weight: bold;
}

.p1{
    text-align: center;
    color: white;
}
nav{
    background-color: #307A3C;
    padding: 3px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
}

nav > a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
    color: greenyellow;
}

main{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

h2{
    font-size: 30px;
    background: #307A3C;
    color: rgb(114, 201, 128);
}

h3{
    font-size: 30px;
    background: #307A3C;
    color: rgb(114, 201, 128);
}
h4{
    margin-top: 0px;
    background-color: #307A3C;
}

p{
    text-align: justify;
    text-indent: 50px;
    font-size: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lista{
    background-color: rgb(165, 241, 177);
    padding: 20px;
    margin:20px;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: white;
    
}
footer > p{
    margin: 0px;
    text-align: center;
}

