@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,600&display=swap');
/*:root{
    --cor0: #547A5B;
}

variaveis
*/
body{
    background-color: #547A5B;
    font-family: Josefin Sans;
    padding: 0px;
    margin: 0px;
}
main strong{
    color: #4EC762;
}

header{
    background-image:linear-gradient(to bottom,#ADFBBA,#4EC762,#307A3C);
    /*border-radius: 10px;*/
    min-width: 320px;
    padding-top: 40px;
    margin: auto;
    margin-bottom: 10px;
}
header > p{
    text-align: justify;
}
h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 2px 2px 0px black;
}

.p1{
    text-align: center;
    color: white;
}
nav{
    background-color: #307A3C;
    padding: 3px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
}

nav > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
    transition-duration: 0.5s;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

nav > a:hover{
    background-color: white;
    border-radius: 5px;
    text-decoration: underline;
    color: greenyellow;
}

main{
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    min-width: 320px;
    max-width: 1100px;
    box-shadow: 0px 0px 10px black;
}
div.video{
    background-color: green;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%; 
    left: 5%;
    width: 90%;
    height: 90%;
}
img{
    width: 100%;
}
h2{
    font-size: 30px;
    background: #307A3C;
    color: white;
    text-indent: 20px;
}

h3{
    font-size: 30px;
    background: #307A3C;
    color: white;
    text-indent: 20px;
}
aside > h4{
    color: white;
    background-color: #307A3C;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

main p{
    text-align: justify;
    line-height: 1em;
    text-indent: 50px;
    font-size: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside{
    background-color: rgb(165, 241, 177);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
}
footer > p{
    margin: 0px;
    text-align: center;
    
}

main a{
    text-decoration: none;
    color: #307A3C;
    font-weight: bold;
    background-color: rgb(123, 255, 123);
    padding: 2px 6px;
}
footer a{
    text-decoration: none;
    color: #307A3C;
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
    color:white;
}

